label {
    color: azure !important;
}

.form-floating input, .form-floating textarea {
    background-color: #2c3033;
    color: azure;
    border: none;
    border-bottom: 1px solid azure;
    border-radius: 0%;
}

.form-floating input:focus, .form-floating textarea:focus {
    background-color: #3e4245;
    color: azure;
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (orientation: landscape) {
    form:not(.search-form) {
        width: 50%;
        /* Center the form */
        margin: 0 auto;
    }
}

@media screen and (orientation: portrait) {
    form:not(.search-form) {
        width: 100%;
        /* Center the form */
        margin: 0 auto;
    }
}